<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Form</title>
</head>
<body>
    <h2>Property Form</h2>
    <form method="post">
        <label for="rental">Rental:</label><br>
        <input type="text" id="rental" name="rental"><br><br>

        <label for="review">Review:</label><br>
        <input type="text" id="review" name="review"><br><br>

        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
